*{
	margin:0;
	padding:0;
}
body{
	font:12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
.menu{
	margin-left:100px;
	margin-top:50px;
	position:relative;
}
.menu ul {
	width:210px;
	background-color:#6E6568;
	padding:10px 0;
}
.menu li{
	width:200px;
	height:30px;
	line-height:30px;
	list-style:none;
	font-size:14px;
	padding-left:10px;
}
.menu li a{
	text-decoration:none;
	color:#fff;
}
.menu li span{
	color:#fff;
}
.menu li a:hover{
	color:#E01222;
}
.menu li:hover{
	background-color:#999395;
}
/*重点在这里*/
.menu li:hover .content{
	display:block;
}
.content{
	position:absolute;
	display:none;
	width:1000px;
	min-height:390px;
	left:210px;
	top:0;
	padding-left:10px;
	padding-top:20px;
	background-color:#F6F6F6;
	box-shadow:2px 0 5px rgba(0,0,0,0.3)
}
.content  .left{
	float:left;
	width:800px;
}
.content  .left dl{
	display:block;
	overflow:hidden;
}
.content .left dt
{
	float:left;
	width:80px;
	height:24px;
	line-height:24px;
	text-align:right;
	margin-right:15px;
	margin-top:10px;
}
.content .left dt a{
	color:#666;
	font-weight:600;	
}
.content .left dd{
	display:block;
	overflow:hidden;
	border-bottom:1px solid #eee;
	padding:10px 0;

}
.content .left dd a{
	display:block;
	float:left;
	height:14px;
	line-height:14px;
	padding:0 10px;
	color:#666;
	margin:4px 0;
	margin-bottom:4px;
	border-left:1px solid #eee;
}
.content .left dl a:hover{
	color:#E01222;
}
.content .right{
	width:180px;
	float:left;
	padding-left:20px;
}
.content .right img{
	width:168px;
}







